.match {
  &__term {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
    &--target {
      margin: 2.5em 0 0.75em 0;
    }

    &--translation {
      margin: 2.5em 0 0.75em 0;
    }
  }
}

.entry-list {
  &__title {
    padding: 20px;
    text-align: center;
  }
  &__viewport {
    min-height: 55vh;
    max-height: 400px;
  }
}

.guide {
  &__floating {
    z-index: 99;
    position: absolute;
    right: 4em;
    background: white;
    padding: 2px;
  }
  text-align: right;
}

.guide-button {
  font-size: x-small;
  line-height: inherit;
  padding: 0 1em;
}
