.match {
  &__term {
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 0;
    &--target {
      margin: 2.5em 0 0.75em 0;
    }

    &--translation {
      margin: 2.5em 0 0.75em 0;
    }
  }
}

.entry-list {
  &__title {
    padding: 20px;
    text-align: center;
  }
  &__viewport {
    min-height: 55vh;
    max-height: 400px;
  }
}

.guide {
  font-size: x-small;
  line-height: inherit;
  z-index: 99;
  padding: 0 1em;
  position: absolute;
  right: 4em;
}
