.c15,
.c8,
.c26 {
  font-style: italic;
}
.c120 {
  margin-left: 3em;
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
}
.c3 {
  vertical-align: top;
  width: 6em;
}
.c11 {
  vertical-align: top;
  width: 10em;
}
.c13 {
  vertical-align: top;
}
.c14,
.c64 {
  font-weight: bold;
}
.c94 {
  text-align: left;
}
