<div mat-dialog-content>
  <div class="container">
    <div class="container__row">
      <div class="container__col centered" *ngIf="data.entry">
        <h2>
          <span>{{ data.entry.word }}</span> -
          <span>{{ data.entry.definition }}</span>
        </h2>
      </div>
    </div>
    <div class="container__row" *ngIf="data.entry && data.entry.optional">
      <div class="container__col centered">
        <span *ngFor="let opt of data.entry.optional | noNullObjectValues"
          >{{ getKey(opt) }}: {{ getVal(opt) }}</span
        >
      </div>
    </div>
  </div>
  <div class="container audio__container" *ngIf="data.entry && hasAudio()">
    <div class="container__row audio__header">
      <h3 class="container__col audio__header">
        {{ 'mtd.word-modal.audio' | translate }}
      </h3>
    </div>
    <div class="container__row audio__desc">
      <p class="container__col audio__desc" *ngIf="data.entry">
        {{
          'mtd.word-modal.audio-instructions'
            | translate: { value: data.entry.definition }
        }}
      </p>
    </div>
    <div
      *ngIf="data.entry.audio"
      class="container__row audio__buttons centered"
    >
      <button
        *ngFor="let audio of data.entry.audio | noNullObjectValues"
        class="audio__button"
        mat-raised-button
        (click)="playAudio(null, audio)"
      >
        {{ audio.speaker }}
        <mat-icon class="audio__icon">audiotrack</mat-icon>
      </button>
    </div>
  </div>
  <div class="container audio__container" *ngIf="examples.length">
    <div class="container__row example__header">
      <h3 class="container__col example__header">Examples</h3>
    </div>
    <div class="container example__desc" *ngFor="let example of examples">
      <p class="container__row example__desc">
        {{ example.text }}
      </p>
      <p class="container__row example__desc">
        <ng-template ngFor let-word [ngForOf]="example.definition">
          <span class="word" [class.word__active]="word.active">
            {{ word.text }}
          </span>
        </ng-template>
      </p>
      <div *ngIf="example.audio" class="container__row audio__buttons centered">
        <button
          *ngFor="let audio of example.audio | noNullObjectValues"
          class="audio__button"
          mat-raised-button
          (click)="playAudio(example, audio)"
        >
          {{ audio.speaker }}
          <mat-icon class="audio__icon">audiotrack</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container__row">
      <a class="report" (click)="openReport()">
        Mark this entry for review
      </a>
      <mat-icon
        *ngIf="reported"
        class="report-done"
        aria-hidden="false"
        aria-label="Report sent"
        inline
        >done</mat-icon
      >
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button cdkFocusInitial mat-raised-button mat-dialog-close>
    {{ 'mtd.word-modal.exit' | translate }}
  </button>
</div>
