.audio {
  &__button {
    margin: 1em;
  }
}

.report {
  font-size: x-small;
  text-decoration: underline;
  cursor: pointer;
}
.reported {
  pointer-events: none;
}
.report-check {
  font-size: x-small;
  color: green;
}
