@import '../../../../styles-variables';

.floating-img {
  float: right;
  @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
    width: 50%;
  }
}
.funding-img {
  @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
    width: 100%;
  }
}

h1 {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: map-get($angular-breakpoints, laptop)) {
  h1 {
    font-size: 1.5em;
    line-height: 32px;
    margin-bottom: 0;
  }
  h2 {
    line-height: 1em;
    font-size: 1.15em;
  }
}

.content__container {
  padding: 15px;
  border-radius: 15px;
}
