@use '@angular/material' as mat;
@import '@angular/material/theming';

/* Angular doesn't expose its breakpoints in SCSS but thankfully they
   are documented here:
   https://m2.material.io/design/layout/responsive-layout-grid.html#breakpoints
   */
$angular-breakpoints: (
  phone: 0,
  tablet: 600px,
  tablet2: 905px,
  laptop: 1240px,
  desktop: 1440px
);

$fa-font-path: '~@fortawesome/fontawesome-free-webfonts/webfonts';

$link-hover-decoration: none;
$label-margin-bottom: 0;

/* Define these in terms of Angular's breakpoints to (hopefully) get
   consistent behaviour.  We will use the Angular ones elsewhere though. */
$grid-breakpoints: (
  xs: map-get($angular-breakpoints, 'phone'),
  sm: map-get($angular-breakpoints, 'tablet'),
  md: map-get($angular-breakpoints, 'tablet2'),
  lg: map-get($angular-breakpoints, 'laptop'),
  xl: map-get($angular-breakpoints, 'desktop')
);

$success-colors: mat.define-palette(mat.$green-palette, 400);
$warning-colors: mat.define-palette(mat.$amber-palette, 400);
