/* Common stylesheet for the app as a whole. */

@use '@angular/material' as mat;
@import 'styles-variables';

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
/* Undo bootstrap things */
@import 'styles-reset';

@include mat.core();

@import './themes/default-theme';
@import './themes/light-theme';
@import './themes/black-theme';
@import './themes/nature-theme';

/* Undo bootstrap things some more */
@import 'styles-reset.scss-theme';

/* These are all mostly the same thing, unfortunately */
@import './app/app/app.component.scss-theme';
@import './app/shared/big-input/big-input/big-input.component.scss-theme';
@import './app/pages/about/about/about.component.scss-theme';
@import './app/pages/bookmarks/bookmarks/bookmarks.component.scss-theme.scss';
@import './app/pages/browse/browse/browse.component.scss-theme.scss';
@import './app/pages/random/random/random.component.scss-theme.scss';
@import './app/pages/search/search/search.component.scss-theme.scss';
@import './app/shared/entry-list/entry-list.component.scss-theme.scss';
@import './app/shared/word-modal/word-modal.component.scss-theme.scss';
@import './app/pages/home/home/home.component.scss-theme';
@import './app/pages/settings/settings/settings-container.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include mtd-styles-reset-theme($theme);
  @include mtd-app-component-theme($theme);
  @include mtd-about-component-theme($theme);
  @include mtd-big-input-component-theme($theme);
  @include mtd-bookmarks-component-theme($theme);
  @include mtd-browse-component-theme($theme);
  @include mtd-random-component-theme($theme);
  @include mtd-search-component-theme($theme);
  @include mtd-entry-list-component-theme($theme);
  @include mtd-word-modal-component-theme($theme);
  @include mtd-home-component-theme($theme);
  @include mtd-settings-component-theme($theme);
}

.default-theme {
  @include mat.all-component-themes($mtd-theme);
  @include custom-components-theme($mtd-theme);
}

.light-theme {
  @include mat.all-component-themes($mtd-light-theme);
  @include custom-components-theme($mtd-light-theme);
}

.black-theme {
  @include mat.all-component-themes($mtd-black-theme);
  @include custom-components-theme($mtd-black-theme);
}

.nature-theme {
  @include mat.all-component-themes($mtd-nature-theme);
  @include custom-components-theme($mtd-nature-theme);
}

.desktop-only {
  @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
    display: none;
  }
}

/* Things used by a bunch of components that don't belong in app.component.scss! */
.mobile-only {
  @media (min-width: map-get($angular-breakpoints, laptop)) {
    display: none;
  }
}

.page__content {
  min-height: calc(100vh - 208px);
}

.centered {
  text-align: center;
  margin: 0 auto;
}

/* Things used in a bunch of components that don't belong in about.component.scss! */
.content__container {
  padding: 35px 20px;
  border-radius: 15px;
}

.background {
  overflow: auto;
  padding: 80px 0 0 0;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('assets/intro.jpg') no-repeat center top;
    background-size: cover;
    // opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 51%;
      left: 0;
      bottom: 0;
      right: 0;
      content: '';
      z-index: 0;
    }
  }

  .container {
    position: relative;
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .background {
    padding: 40px 0 0 0;

    h1 {
      line-height: 1em;
    }
  }
}
