@use '@angular/material' as mat;

@mixin mtd-home-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  mtd-home {
    .background {
      color: mat.get-color-from-palette($foreground, text);
      background-color: mat.get-color-from-palette($background, background);

      .gradient {
        &::before {
          background: linear-gradient(
            to bottom,
            mat.get-color-from-palette($background, background, 0) 0%,
            mat.get-color-from-palette($background, background, 1) 100%
          );
        }
      }
    }
    .slogan {
      color: mat.get-color-from-palette($foreground, foreground);
      &__container {
        background: mat.get-color-from-palette($background, background);
      }
    }
    .sub-slogan {
      color: mat.get-color-from-palette($foreground, foreground);
    }
  }
}
