<div class="background">
	<div class="gradient">
		<div class="container page__content">
			<div class="slogan__container" [ngClass]="routeAnimationsElements">
				<h3 class='slogan'>
					Under Construction
				</h3>

				<div>
					<img class="centered-img" [src]="construction"/>
					<p class='sub-slogan'>
					Kihchi-marsii, thank you, for your patience as we are
					working to improve the Michif Talking Dictionary. We will
					have it up and running again as soon as possible!
					</p>

					<p>
					In the meantime, check out our 
					<a href="https://michif.org/online-course/">Southern Michif
						Online Course</a>,
					our
					<a href="https://michif.org/recordings/">Recordings</a>,
					and our
					<a href="https://michif.org/learning-library/">Learning
						Library</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
