@import '../../../../styles-variables';

.floating-img {
  float: right;
}

@media only screen and (max-width: 500px) {
  #about__page {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1300px) {
  #about__page {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 1900px) {
  #about__page {
    margin: 0 auto;
  }
}

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
