@import '../../../../styles-variables';

.browse {
  &__categories {
    text-align: center;
    @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
      font-size: small;
    }
    padding: 0 15px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
  }

  &__alphabet {
    &__grid {
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        width: 100%;
      }
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        width: 80%;
      }
      margin: 20px auto;
      padding: 5px;
      overflow: hidden;
      border-radius: 5px;
    }

    &__list {
      list-style-type: none;
      padding: 0;
      margin: auto;
      opacity: 0.95;
    }

    &__letter {
      display: inline-block;
      text-align: center;
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        width: 32px;
      }
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        padding: 5px;
        width: 48px;
      }
      text-decoration: none;
      cursor: pointer;

      .mat-button {
        @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
          min-width: 32px;
        }
        @media (min-width: map-get($angular-breakpoints, laptop)) {
          min-width: 48px;
        }
      }
    }
  }

  &__entries {
    &--progress {
      margin: 0 auto !important;
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        font-size: small;
      }
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        font-size: smaller;
      }
    }
  }

  &__toolbar {
    border-radius: 5px 5px 0 0;
  }

  &__entry {
    &__list {
      &__container {
        min-height: 55vh;
      }
    }
  }

  &__controls {
    &__container {
      max-height: 400px;
    }
  }

  &__nav {
    &--web {
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        display: none !important;
      }
    }

    &--mobile {
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        display: none !important;
      }
    }

    &--left {
      /* Position these normally next to the text on mobile! */
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        &--icon {
          margin: auto;
        }
      }
      /* Otherwise, they go in a box at a specific place. */
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        width: 100px;
        &--icon {
          font-size: xx-large !important;
          position: absolute !important;
          left: 0 !important;
          top: 3px !important;
        }
      }
      &--text {
        margin-left: 15px;
      }
    }

    &--right {
      @media (max-width: map-get($angular-breakpoints, laptop) - 1) {
        &--icon {
          margin: auto;
        }
      }
      @media (min-width: map-get($angular-breakpoints, laptop)) {
        width: 100px;
        &--icon {
          font-size: xx-large !important;
          position: absolute !important;
          right: 5px !important;
          top: 3px !important;
        }
      }

      &--text {
        margin-right: 15px;
      }
    }
  }
}
