@import '../../../../styles-variables';

/* Match the h1 we would normally have in mtd-static */
@media (max-width: map-get($angular-breakpoints, tablet) - 1) {
  .random-header {
    height: 32px;
    button {
      line-height: 32px;
    }
  }
}
@media (min-width: map-get($angular-breakpoints, laptop)) {
  .random-header {
    height: 48px;
    margin-bottom: 32px;
  }
}
